.evento{
    display: flex;
    flex-direction: column;
    border: #DA6918 2px solid;
    border-radius: 6px;
    padding: 1.2rem;
    justify-content: center;
    color: white;
    min-height: 25rem;
    width: 20rem;
    box-sizing: border-box;
    gap: 1rem;
    
}

/*
.evento:hover{
    min-width: 20.5rem;
    min-height: 25.5rem;
    padding: 1.2rem;
    transition: 0.25s;
}
*/

.evento:hover{
    transform: scale(1.05);
    transition: 0.25s;
}

.event-header{
    display: flex;
    align-items: center;
    justify-content: center;
    .imagen{
        cursor:pointer;
        width: 17rem;
        height: 12rem;
        object-fit: cover;
        border-radius: 6px;
    }
}

.titulo{
    font-weight: bold;
    text-transform: uppercase;
    color: #DA6918;
    font-size: 1.2rem;
    
}

.precio{
    color:#DA6918;
    font-weight: bold;
    font-size: 1.5rem;
}

.boton{
    color:#FFFFFF;
    background-color: #DA6918;
    border-radius: 6px;
    border: none;
    padding: 0.25rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.delete{
    background-color: #ff0000bb;
}