
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #1E1E1E;
    width: 100%;
    padding:0.65rem 2rem;
    z-index: 100;
    .izq{
        display:flex;
        gap:2rem;
        align-items: center;
        a{
            font-family: 'Yantramanav';
            text-decoration: none;
            cursor: pointer;
            color:#DA6918;
        }
    
        img{
            width: 10rem;
        }
    }
    .der{
        display:flex;
        font-family: 'Yantramanav';
        gap:2rem;
        color:#DA6918;
        align-items: center;
        cursor:pointer;
        .login{
            
            padding:0.5rem 2rem;
            border-radius: 8px;
            background-color: rgba(218,105,24,0.5);
            color:whitesmoke;
        }
        .link-login{
            text-decoration: none;
        }
        .link{
            text-decoration: none;
        }
        .cart-button{  
            display: flex;
            align-items: center;
            gap: 0.7rem;
            background-color: #DA6918;
            padding: .5rem 1.1rem;
            border-radius: 20px;
            transition: all 0.3s ease-in-out;
            span{
                font-weight: bold;
                font-size: 1.1rem;
            }
        }
        .cart-button:hover{
            background-color: #da6918b4;
        }
    
    }
}