@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yantramanav';
  scrollbar-color: #DA6918 #1F1F1F ;
  scrollbar-width: thin;
}
#root{
  height: 100%;
}

body{
  height: 100%;
}

html {
  scroll-behavior: smooth;
  background-color: #1F1F1F;
  height: 100%;
}